# Server & OAuth Ports
PORT=3000
OAUTH_CALLBACK_PORT=8080

# Redis Cache URL
REDIS_URL=redis://localhost:6379

# NetSuite Default Authentication
NETSUITE_ACCOUNT_ID=
NETSUITE_CLIENT_ID=
NETSUITE_SESSION_PATH=

# Multi-Account Specific Client IDs (Optional overrides for specific NetSuite account environments)
# NETSUITE_CLIENT_ID_5848789=
# NETSUITE_CLIENT_ID_5848789_SB1=
# NETSUITE_CLIENT_ID_9260916=
# NETSUITE_CLIENT_ID_9260916_SB1=
# NETSUITE_CLIENT_ID_9260916_SB3=
